Feature list: 

Only add movie that has a nuique path, meaning the same movie can't be added twice.

Instance variable for when the movie was last played. Saved in DB.

https://en.wikipedia.org/wiki/Levenshtein_distance#:~:text=Informally%2C%20the%20Levenshtein%20distance%20between,considered%20this%20distance%20in%201965.



GUI:
Horizontal scrolling a la viaplay/netflix.

https://stackoverflow.com/questions/24933164/javafx-adding-image-in-tableview/24934324

